#sidebar {
  height: 75px;
}

@media (min-width: 992px) {
  #sidebar {
    height: 100vh;
  }
}

.w-100 {
  width: 100%;
}

.newB {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto;
  height: 48px;
  background-color: rgb(124, 93, 250);
  color: white;
  border: transparent;
  transition: background-color 0.75s ease;
}

.newB:hover {
  background-color: rgb(146, 119, 255);
}

.newB .plus {
  background-color: white;
  color: rgb(124, 93, 250);
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
}

.newB .text {
  font-size: 12px;
  font-weight: bolder;
}

.f-w {
  font-weight: bold;
}

.fs-12 {
  font-size: 12px;
}

.card-hover {
  transition: border 0.75s ease;
}

.card-hover:hover {
  border: solid 1px rgb(118, 79, 224);
}

.invoice {
  text-decoration: none;
}

#invoiceCard {
  height: 150px;
}

@media (min-width: 768px) {
  #invoiceCard {
    height: 90px;
  }
}

.fs-18 {
  font-size: 18px;
}

.f-w-900 {
  font-weight: 900;
}

.card {
  box-shadow: 0 4px 4px #dfe3fa;
}

.pendingButton {
  color: rgb(241, 157, 0);
  background-color: rgb(238, 224, 198);
  width: 85px;
  height: 38px;
}

.pId {
   position: absolute;
   top: 1.5rem;
   left: 0;
}

.pName {
  position: absolute;
  top: 1.5rem;
  right: 0;
}

.pPrice {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
}

.pStatus {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
}

@media (min-width: 768px) {
  .pId {
    position: relative;
    top: auto;
    left: auto;
 }
 
 .pName {
   position: relative;
   top: auto;
    right: 0;
 }
 
 .pPrice {
   position: relative;
   bottom: auto;
    left: auto;
 }
 
 .pStatus {
   position: relative;
   bottom: auto;
    right: auto;
 }
}

.goBack {
  text-decoration: none;
  color: black;
  transition: color 0.75s ease;
}

.goBack:hover {
  color: rgb(146, 119, 255);
}

.goBack .gb-i {
  transition: margin-left 0.5s ease;
}

.goBack:hover .gb-i {
  margin-left: -3px;
}

#items {
  box-shadow: none;
  width: 100%;
}

.col-white {
  color: white;
}

#itemTable {
  background-color: rgba(0, 0, 0, 0) !important;
}

.vh-90 {
  min-height: 90vh;
}